
.App {
  text-align: center;
  /*background-color: rgb(158, 113, 113);*/
  padding-bottom: 90px!important;
}


.img-logo{
  height: 100px;
  width: auto;
}

.app-form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index:1;
  background-color: rgb(229, 226, 226);
  width: 97%;
}

.app-formcontrol{
  display: flex!important;
  flex-direction: row!important;
}

.app-input{
  flex: 1;
  font-size: 20px!important;
}

.app-iconbutton{
  flex: 0;
  color: "#00802b";
}

